.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.pop-up-content {
  width: 600px;
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 56px;
  background: white;

  h1 {
    text-align: center;
  }

  .main {
    margin: 24px 0 40px;
    text-align: center;
  }

  .control {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .pop-up-content {
    width: calc(100% - 30px);
    padding: 48px 16px;
  }
}
