$color-text-primary: #403A38;
$color-text-regular: #73685D;
$color-text-secondary: #A9A098;
$color-text-placeholder: #C7C3BE;
$color-text-action: #C95F4E;
$color-text-warning: #1D99EB;
$color-text-error: #605EEF;
$color-text-success: #1BB149;

$color-icon-grey: #D7CFC9;
$color-icon-warning: #47AEF1;
$color-icon-error: #6F6DF3;
$color-icon-success: #44C16A;

$color-primary: #CC6959;
$color-hover: #D1786A;
$color-secondary: #feeee9;
$color-border: #E6DFDC;
$color-disabled: rgba(244, 242, 240, .6);

$color-bg: rgba(255, 255, 255, .5);
